<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="paper.js"></script>
<script type="text/javascript" src="secondary.js"></script>


</head>
  <body>
    <ul>
<% for(var i=0; i<rooms.length; i++) {%>
   <li><a href='./<%= rooms[i] %>'><%= rooms[i] %></a></li>
   <li><img style='width:500px;' src='<%= imgs[rooms[i]] %>'></img></li>
<% } %>
</ul>
    <br>
<script src="/socket.io/socket.io.js"></script>
<script>
$('body').mousemove(function(event){

});
  // load the socket.io library above, the connect to the server
  // because the socket.io server is being run on the same server as your
  // express instance, you can connect() without any additional information
  //var socket = io.connect(); // TIP: .connect with no args does auto-discovery
//console.dir(socket)

  // when 'filechanged' events fire, take our fileobj object and do something with it

</script>
</body>
</html>
