<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="paper.js"></script>
<script type="text/javascript" src="secondary.js"></script>
<script type="text/paperscript" src='gearsHen.js' canvas="chillCanv"></script>
<link href="style.css" media="all" rel="stylesheet"></link>
</head>
  <body>
    <canvas id='chillCanv' ></canvas>
   <a style='background-color:white'> to make a new room, add "/your_room_name" to the url and press enter!!! </a>
<div id='container'>
<% for(var i=0; i<rooms.length; i++) {%>
  <a href='/cheeseburgerbuns/<%=rooms[i]%>' class='room'>
  <h3><%= rooms[i] %></h3>
   <img style='width:100%' src='<%= imgs[rooms[i]] %>'></img>
 </a>
<% } %>
</div>

    <br>
<script src="/socket.io/socket.io.js"></script>
<script>
// $('.room').click(function(){
//   console.dir(this)
//   window.open('/'+this.innerText, '_blank')
//
// });
list = $('#container')
list.children().each(function(i,li){list.prepend(li)})

</script>
</body>
</html>
