<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="paper.js"></script>
<script type="text/javascript" src="secondary.js"></script>
<script type="text/paperscript" src='gearsHen.js' canvas="chillCanv"></script>
<link href="style.css" media="all" rel="stylesheet"></link>
</head>
  <body>
    <canvas id='chillCanv' ></canvas>
   <a style='background-color:white'> to make a new room, add "/your_room_name" to the url and press enter!!! </a>
<div id='container'>
<% for(var i=0; i<rooms.length; i++) {%>
  <div href='/<%=rooms[i]%>' class='room'>
  <a><%= rooms[i] %></a>
   <img style='width:100%' src='<%= imgs[rooms[i]] %>'></img>
 </div>
<% } %>
</div>

    <br>
<script src="/socket.io/socket.io.js"></script>
<script>
$('.room').click(function(){
  console.dir(this)
  window.open('/'+this.innerText, '_blank')

});
list = $('#container')
list.children().each(function(i,li){list.prepend(li)})
  // load the socket.io library above, the connect to the server
  // because the socket.io server is being run on the same server as your
  // express instance, you can connect() without any additional information
  //var socket = io.connect(); // TIP: .connect with no args does auto-discovery
//console.dir(socket)

  // when 'filechanged' events fire, take our fileobj object and do something with it

</script>
</body>
</html>
