.room {
  display:inline-block;
  background-color:white;
  width:28%;
  height: 28%;
  min-width: 200px;
  border: 3px solid black;
  z-index:1;
  margin: 10px;
  position: relative;
}

.room a {
  position: absolute;
  top: 10px;
  left: 10px;
}
#container {
}
body {
  margin: 0;
  padding: 0;
}
#chillCanv {
   z-index:-1;
   width:3000px;
   height:2000px;
   position:fixed;
}
