.room {
  display:inline-block;
  background-color:white;
  width:28%;
  height: 28%;
  min-width: 200px;
  border: 3px solid black;
  z-index:1;
  margin: 10px;
  position: relative;
}

#chillCanv {
  visibility: hidden;
  left: -100vw;
  transition: all 5s ease-in-out;
}
#chillCanv.setup {
  visibility: visible;
  left: 0;
}

.room h3 {
  margin: 10px;
  color: black;
  text-decoration: none;
}
#container {
}
body {
  margin: 0;
  padding: 0;
}
#chillCanv {
   z-index:-1;
   width:100vw;
   height:100vh;
   position:fixed;
}
